/* CSS STARTS HERE */

*{
    font-family: "Trebuchet MS", sans-serif;
}


.wrapper {
    margin: 100px auto;
    background-color: #e9e6d7;
    width: 206px;
    height: 106px;
}

.container{
    padding-top: 9px;
}

.message{
    margin-left: 17px;
    width: 166px;
    height: 34px;
    background-color: #817c63;
    border-radius: 3px;
    display: table; 

}

.message p{
    margin: 0px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    color: white;
    vertical-align: middle;
    display: table-cell; 
}

.arrow {
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #817c63;
    margin-left: 149px;
    margin-bottom: 7px;
}

.hidden{
    visibility: hidden;
}


.counter{
    display: flex;
    margin-left: 21px;
    align-items: baseline;
}

button.minus, button.plus{
    padding: 0px;
    width: 19px;
    height: 21px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background: radial-gradient(#8cba26, #779b28);
    border: 0px;
    color:#f5f4ef;
    text-shadow: 0 -1px 0 #69920e;
}

button.minus:hover, button.plus:hover{
    background: radial-gradient(#8cba26, #5d752a);
}

button.minus{
    border-radius: 4px 0 0 4px;
    border-right: 0px;

}

button.plus{
    border-radius: 0 4px 4px 0;
    border-left: 0px;
}

button:focus,
input:focus {
    outline: none;
}

.count{
    width: 37px;
    height: 29px;
    overflow: hidden;
}

.count input{
    width: 35px;
    height: 27px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color:   #9f9d8a;
    border: 1px solid #9f9d8a;
    border-radius: 4px;
    padding: 0px;
    text-shadow: 1px 0 0 #beb9a7;
    box-shadow: inset 0 -1px 2px  #beb9a7;
}

.buy{
    margin-left: 19px;
}

.buy button{
    width: 68px;
    height: 29px;
    color: #ffffff;
    background: linear-gradient(#9c9a7d, #635d43);
    border-radius: 2px;
    padding: 0;
    border: 0;
    font-size: 12px;
}

.buy button:hover{
    background: linear-gradient(#9c9a7d, #494635);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


